.textalighn{
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
#textalighn{
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
}
.textalighn1{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFC652;}
.fontcolor{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
#card{
    margin-top: 70px;
}
#card3{
    background-color: #FF6551;
    color: white;
}
.img{
background-image: url(/assets/cardimage.png);
height: 100%;
width: 100%;
}
.like{
    padding-top: 160px;
}
.join{
background-color: #FF6551;
border-radius: 5px;
border: none;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
padding-top: 15px;
padding-bottom: 15px;
padding-right: 40px;
padding-left: 40px;  

}
.joinus{
    padding-top: 160px;
}
.joinus1{
    text-align: center;
    border: solid none;
    border-radius: 3px;
  background-color: #FF6551;
padding-top: 15px;
padding-bottom: 15px;

  color: white;
}
.backgrond{
    background-color: rgba(0, 0, 0, 0.5);
}
.border1{
    color: #FF6551;
    border: solid #FF6551 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
    border-radius: 16px;
}
.sales{
    color: #737373;
    font-style: normal;
}
.fontcolor1{
color: #FF6551;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
}
.practice{
color: #FF6551;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
}
.mostpopular{
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
letter-spacing: 0.2px;
color: #FFFFFF;
}
.text{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #FFFFFF;
}
.card2{
    margin-right: 120px;
}
.fontsizecard{
 font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #252B42;
}
.button{
    background: #FF6551;
border-radius: 5px;
border: none;
color: white;
padding-left: 71px;
padding-right: 71px;
padding-top: 15px;
padding-bottom: 15px;
}
.textcolor{
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
}
.per{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #8EC2F2;
}
.money{
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
letter-spacing: 0.2px;
color: #FF6551;
}
.card-text1{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #737373;
}
.card-title{
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: #252B42;
}
.marginforcards{
margin-bottom: 160px;
}
.mostpopular1{
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
letter-spacing: 0.2px;
}
.img1{
border-radius: 50%;
border: none;
   
}
.card-text2{
 font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #737373;
text-align: center;
}
.padding{
padding-left: 70px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1px;
}
.padding1{
padding-left: 80px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1px;
}
.secondtextcolor{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
color: #737373;
padding-left: 85px;
}
.secondtextcolor1{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
color: #737373;
padding-left: 95px;
padding-bottom: 150px;
}
.our{
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
text-align: center;
letter-spacing: 0.2px;
color: #252B42;
}
.text3{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
color: #737373;
}
.button2{
background: #FF6551;
border: 1px solid #E6E6E6;
box-sizing: border-box;
border-radius: 0px 5px 5px 0px;
color: white;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 28px;
text-align: center;
letter-spacing: 0.2px;
}
.tabelfont{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #737373;
}
.footer{
background-color: #e9e9e9f5;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #737373;
padding-top: 15px;
}
.card-text3{
    font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.2px;
   color: #737373;
}
.learnmore{
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #FF6551;

}
.money1{
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1px;
color: #BDBDBD;
}
.money2{
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1px;
color: #2435A1;

}
.everyclient{
padding-top: 60px;
}
.borderradius{
    border-radius: 30px;
    border: none;
}
.joinus12{
width: 137px;
height: 52px;
background: #FF6551;
border-radius: 5px;
border: none;
color: white;
}
#brandname{
    font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: #ECECEC;
}
.backgrund-photo{
    width: 100%;
    height: 100%;
}
.font{
    font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: #252B42;
}
.font2{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
}
#font2{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
}
.style{
    font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
letter-spacing: 0.2px;
color: #252B42;
}
.videobutton{
    padding-top: 120px;
 padding-left: 210px;
}